*~
*.lxt
*.pyc
*.vvp
*.kate-swp

/example/ECP5/PHY/fpga/blink.svf
/example/ECP5/PHY/fpga/blink_out.config
/example/ECP5/PHY/fpga/yosys.exe.stackdump
/example/ECP5/PHY/fpga/blink.bit
/example/ECP5/PHY/fpga/blink.json
/example/ECP5/PHYandFIFO/fpga/blink.bit
/example/ECP5/PHYandFIFO/fpga/blink.json
/example/ECP5/PHYandFIFO/fpga/blink.svf
/example/ECP5/PHYandFIFO/fpga/blink_out.config
