*~
*.lxt
*.pyc
*.vvp
*.kate-swp

/example/ECP5/PHY/fpga/blink.svf
/example/ECP5/PHY/fpga/blink_out.config
/example/ECP5/PHY/fpga/yosys.exe.stackdump
/example/ECP5/PHY/fpga/blink.bit
/example/ECP5/PHY/fpga/blink.json
/example/ECP5/PHYandFIFO/fpga/blink.bit
/example/ECP5/PHYandFIFO/fpga/blink.json
/example/ECP5/PHYandFIFO/fpga/blink.svf
/example/ECP5/PHYandFIFO/fpga/blink_out.config
/example/ECP5/fpga_mac_fifo/fpga/blink_out.config
/example/ECP5/fpga_mac_fifo/fpga/blink.bit
/example/ECP5/fpga_mac_fifo/fpga/blink.json
/example/ECP5/fpga_mac_fifo/fpga/blink.svf
/example/ECP5/fpga_phy/fpga/blink_out.config
/example/ECP5/fpga_phy/fpga/blink.bit
/example/ECP5/fpga_phy/fpga/blink.json
/example/ECP5/fpga_phy/fpga/blink.svf
/example/ECP5/fpga/1.txt
/example/ECP5/fpga/2.bak
/example/ECP5/fpga/2.txt
/example/ECP5/fpga/err.log
/example/ECP5/fpga/fpga/blink.bit
/example/ECP5/fpga/fpga/blink.json
/example/ECP5/fpga/fpga/blink.svf
/example/ECP5/fpga/fpga/blink_out.config
/example/ECP5/fpga/rtl/blink.bak
/example/ECP5/fpga_mac_fifo/err.log
/example/ECP5/fpga_mac_fifo/rtl/blink.bak
/example/ColorLight 5A-75B/fpga_no1G/fpga/fpga.json
/example/ColorLight 5A-75B/fpga_no1G/fpga/fpga_out.config
/example/OrangeCrab/fpga/fpga/fpga_out.config
/example/OrangeCrab/fpga/fpga/fpga.json
/example/ColorLight 5A-75B/fpga/*.ys
/.vscode/settings.json
