LOCATE COMP "clk_i" SITE "P6";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

LOCATE COMP "eth_clocks_tx" SITE "M2";
IOBUF PORT "eth_clocks_tx" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_clocks_rx" SITE "M1";
IOBUF PORT "eth_clocks_rx" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rst_n" SITE "P5";
IOBUF PORT "eth_rst_n" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_mdio" SITE "T2";
IOBUF PORT "eth_mdio" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_mdc" SITE "P3";
IOBUF PORT "eth_mdc" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_ctl" SITE "N6";
IOBUF PORT "eth_rx_ctl" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[0]" SITE "N1";
IOBUF PORT "eth_rx_data[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[1]" SITE "M5";
IOBUF PORT "eth_rx_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[2]" SITE "N5";
IOBUF PORT "eth_rx_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[3]" SITE "M6";
IOBUF PORT "eth_rx_data[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_ctl" SITE "M3";
IOBUF PORT "eth_tx_ctl" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[0]" SITE "L1";
IOBUF PORT "eth_tx_data[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[1]" SITE "L3";
IOBUF PORT "eth_tx_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[2]" SITE "P2";
IOBUF PORT "eth_tx_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[3]" SITE "L4";
IOBUF PORT "eth_tx_data[3]" IO_TYPE=LVCMOS33;

FREQUENCY PORT "eth_rx_clk" 125.0 MHz;
FREQUENCY PORT "eth_tx_clk" 125.0 MHz;
FREQUENCY PORT "eth_clocks_rx" 125.0 MHz;
FREQUENCY PORT "clk" 125.0 MHz;
FREQUENCY PORT "clk90" 125.0 MHz;



LOCATE COMP "txd" SITE "R2";
IOBUF PORT "txd" IO_TYPE=LVCMOS33;
LOCATE COMP "rxd" SITE "M13";
IOBUF PORT "rxd" IO_TYPE=LVCMOS33;

LOCATE COMP "led_o" SITE "P11";
IOBUF PORT "led_o" IO_TYPE=LVCMOS25;

LOCATE COMP "test[0]" SITE "F3";
IOBUF PORT "test[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[1]" SITE "F1";
IOBUF PORT "test[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[2]" SITE "G3";
IOBUF PORT "test[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[3]" SITE "G2";
IOBUF PORT "test[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[4]" SITE "H3";
IOBUF PORT "test[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[5]" SITE "H5";
IOBUF PORT "test[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[6]" SITE "J4";
IOBUF PORT "test[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[7]" SITE "K3";
IOBUF PORT "test[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[8]" SITE "G1";
IOBUF PORT "test[8]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[9]" SITE "K4";
IOBUF PORT "test[9]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[10]" SITE "C2";
IOBUF PORT "test[10]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[11]" SITE "E3";
IOBUF PORT "test[11]" IO_TYPE=LVCMOS33;


LOCATE COMP "speed[0]" SITE "C2";
IOBUF PORT "test1" IO_TYPE=LVCMOS33;
LOCATE COMP "speed[1]" SITE "E3";
IOBUF PORT "test1" IO_TYPE=LVCMOS33;

