LOCATE COMP "clk_i" SITE "P6";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

LOCATE COMP "eth_clocks_tx" SITE "L1";
IOBUF PORT "eth_clocks_tx" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_clocks_rx" SITE "J1";
IOBUF PORT "eth_clocks_rx" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rst_n" SITE "R6";
IOBUF PORT "eth_rst_n" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_mdio" SITE "T4";
IOBUF PORT "eth_mdio" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_mdc" SITE "R5";
IOBUF PORT "eth_mdc" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_ctl" SITE "J2";
IOBUF PORT "eth_rx_ctl" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[0]" SITE "K2";
IOBUF PORT "eth_rx_data[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[1]" SITE "J3";
IOBUF PORT "eth_rx_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[2]" SITE "K1";
IOBUF PORT "eth_rx_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[3]" SITE "K3";
IOBUF PORT "eth_rx_data[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_ctl" SITE "L2";
IOBUF PORT "eth_tx_ctl" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[0]" SITE "M2";
IOBUF PORT "eth_tx_data[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[1]" SITE "M1";
IOBUF PORT "eth_tx_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[2]" SITE "P1";
IOBUF PORT "eth_tx_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[3]" SITE "R1";
IOBUF PORT "eth_tx_data[3]" IO_TYPE=LVCMOS33;

FREQUENCY PORT "eth_rx_clk" 125.0 MHz;
FREQUENCY PORT "eth_tx_clk" 125.0 MHz;
FREQUENCY PORT "eth_clocks_rx" 125.0 MHz;


LOCATE COMP "txd" SITE "R3";
IOBUF PORT "txd" IO_TYPE=LVCMOS33;
LOCATE COMP "rxd" SITE "R7";
IOBUF PORT "rxd" IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk" 125.0 MHz;
FREQUENCY PORT "clk90" 125.0 MHz;

LOCATE COMP "led_o" SITE "T6";
IOBUF PORT "led_o" IO_TYPE=LVCMOS33;

LOCATE COMP "test[0]" SITE "C4";
IOBUF PORT "test1" IO_TYPE=LVCMOS33;

LOCATE COMP "test[1]" SITE "D4";
IOBUF PORT "test1" IO_TYPE=LVCMOS33;

LOCATE COMP "test[2]" SITE "E4";
IOBUF PORT "test1" IO_TYPE=LVCMOS33;

LOCATE COMP "test[3]" SITE "D3";
IOBUF PORT "test1" IO_TYPE=LVCMOS33;

LOCATE COMP "test[4]" SITE "F5";
IOBUF PORT "test1" IO_TYPE=LVCMOS33;

LOCATE COMP "test[5]" SITE "E3";
IOBUF PORT "test1" IO_TYPE=LVCMOS33;

LOCATE COMP "test[6]" SITE "N4";
IOBUF PORT "test1" IO_TYPE=LVCMOS33;

LOCATE COMP "test[7]" SITE "F2";
IOBUF PORT "test[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[8]" SITE "G2";
IOBUF PORT "test[8]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[9]" SITE "G1";
IOBUF PORT "test[9]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[10]" SITE "H2";
IOBUF PORT "test[10]" IO_TYPE=LVCMOS33;

LOCATE COMP "test[11]" SITE "H3";
IOBUF PORT "test[11]" IO_TYPE=LVCMOS33;


#LOCATE COMP "speed[0]" SITE "H2";
#IOBUF PORT "test1" IO_TYPE=LVCMOS33;
#LOCATE COMP "speed[1]" SITE "H3";
#IOBUF PORT "test1" IO_TYPE=LVCMOS33;

LOCATE COMP "txdebug" SITE "P5";
IOBUF PORT "txdebug" IO_TYPE=LVCMOS33;